body{
	padding-top: 75px;
	background: url('../img/landing-avante1.jpg')  no-repeat #000;
	font-family: 'Lato', sans-serif;
}

.line{
	clear: both;
	margin:15px 0 15px 0;
	height: 2px;
	border-bottom: 2px solid #FFAA1E;
}

/*
|-------------------------------------------------------------------------
|	container-promo
|-------------------------------------------------------------------------
*/
.container-promo {
	padding: 15px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}


.yellow{
	font-weight: 300;
	color:#FFAA1E;
}

.container-promo h1,h2,h3 {
	margin: 15px; 
	color:#fff;
	letter-spacing: 0.5px;
	font-weight: 200;
	font-family: 'Lato', sans-serif;
}

.container-promo h1{ 
	font-weight: 200;
}

.container-promo p{
	color:#fff;
} 

.container-promo img{
	margin-bottom: 30px;
}
/*
|-------------------------------------------------------------------------
|	container-form
|-------------------------------------------------------------------------
*/
.container-form{
	padding: 15px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}

.container-form span{
	color:#FFAA1E;
	font-weight: 400;
}

.container-form h1,h2,h3 {
	margin:15px;
}

.container-form h2{
	font-size: 0.5em;
}


/*
|-------------------------------------------------------------------------
|	form
|-------------------------------------------------------------------------
*/
.form-control{
	border-radius: 0px;
}

.form-control:focus{
	box-shadow: none;
	border-color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

.form-control:-ms-input-placeholder {  
   color: #fff; 
}

.form-control{
	padding: 10px 5px 10px 7px;
	border: none;
	border: 1px solid #FFAA1E;
	color: #fff;
	/*background: #FFAA1E;*/
	background: transparent;

}

/*
|-------------------------------------------------------------------------
|	btns
|-------------------------------------------------------------------------
*/

.contact-store {
 padding: 25px;
}

.btn{
	border-radius: 0px;
	padding: 10px 20px !important;
}

.btn-lg{
	border-radius: 0px;
}

.btn-warning{
	border: none;
	background: #FFAA1E;
}

/*
|-------------------------------------------------------------------------
|	da thumbs
|-------------------------------------------------------------------------
*/
#da-thumbs {
	margin-top: 130px;
}
.da-thumbs li {
    position: relative;
    float: left;
    margin: 5px;
    padding: 8px;
    list-style: none;

}
.da-thumbs span{
	margin: 15px 0 0 0;
	color:#fff;
	text-decoration: none;
}
.da-thumbs li a,
.da-thumbs li a img {
    position: relative;
    display: block;
}


.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a div {
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: rgba(255, 170, 30, 0.85);
}

/*
|-------------------------------------------------------------------------
|	Products
|-------------------------------------------------------------------------
*/

.products{
	margin-top: 155px; 
}
.product {
	margin-bottom: 10px;
	text-align: center;
}

.product img {
	width: 100%;
}

.product a {
	color: #FFAA1E;
	text-align: center;
}


